<main class="p-5">
  1
  <div class='row g-4'>
    <div class='col-12'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='/summary' class='nav-link'>Main</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>Catalog</a>
        </div>
        <div class='nav-item'>
          <a href='/skills' class='nav-link active'>Shop
            list</a>
        </div>
      </div>
    </div>

    <div class='col-4'>
      <div class='card'>
        <div class='card-body'>
          <div class='nav flex-column'>
            <div class='nav-item'>
              <div class='card'>
                <a href='/summary' class='nav-link'>Home page</a>
              </div>
            <br>
            </div>

            <div class='nav-item'>
              <div class='card'>
                <a href='#' class='nav-link disabled'>Bootstrap</a>
              </div>
            <br>
            </div>

            <div class='nav-item'>
              <div class='card'>
                <a href='/skills' class='nav-link active'>FAQ page</a>
                {{! <button class='btn btn-primary'>Click</button> }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-8'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>Notebooks</a>
            </li>
            <li class='breadcrumb-item'>
              Acer
            </li>
          </ol>
        </div>

        <div class='col-12'>
          <button class='btn btn-primary rounded-pill mx-3 my-3 ms-0'>Click me</button>
          <div class='alert alert-success'>
            <h6>Hello World! <span class='badge text-bg-primary rounded-pill text-capitalize'>nEW aGE</span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  
      <hr />
      2

      <div class='col-8'>
        <ol class='breadcrumb'>
          <li class='breadcrumb-item'>
            <a href='#'>Home</a>
          </li>
          <li class='breadcrumb-item'>
            <a href='#'>Notebooks</a>
          </li>
          <li class='breadcrumb-item'>
            Acer
          </li>
        </ol>
      </div>

      <br />
      <hr />

      3

      <div class='col-12'>
        <h6>Hello World!
          <span
            class='badge text-bg-primary rounded-pill text-capitalize'
          >nEW aGE</span></h6>
        <button class='btn btn-primary rounded-pill'>Click
          me</button>
        <br />
        <br />
        <hr />
        4

        <div class='alert alert-warning'>
          <h6>Hello World!
            <span
              class='badge text-bg-primary rounded-pill text-capitalize'
            >nEW aGE
            </span>
          </h6>
          <button class='btn btn-primary rounded-pill'>Click
            me
          </button>
        </div>

        <br />
        <hr />
        5

        <button
          class='btn btn-primary rounded-pill mx-3 my-3 ms-0'
        >Click me
        </button>
        <div class='alert alert-success'>
          <h6>Hello World!
            <span
              class='badge text-bg-primary rounded-pill text-capitalize'
            >nEW aGE
            </span>
          </h6>
        </div>

      </div>

    </div>

=================================================================
<br>
6

<div class='row'>
  {{!-- <div class='row g-4'> --}}
    <div class='col-12 mb-5'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='/summary' class='nav-link'>Main</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>Catalog</a>
        </div>
        <div class='nav-item'>
          <a href='/skills' class='nav-link active'>Shop
            list</a>
        </div>
      </div>
    </div>

    <div class='col-5 pe-5'>
      <div class='card'>
        <div class='pt-4 pb-3 px-4'>
        {{!-- <div class='card-body'> --}}
          <div class='nav flex-column'>

            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='/summary' class='nav-link'>Home page</a>
              </div>
            </div>

            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='#' class='nav-link disabled'>Bootstrap</a>
              </div>
            </div>

            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='/skills' class='nav-link active'>FAQ page</a>
                {{! <button class='btn btn-primary'>Click</button> }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- <div class="col-8">
      Test
    </div> --}}

    <div class='col-7'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>Notebooks</a>
            </li>
            <li class='breadcrumb-item'>
              Acer
            </li>
          </ol>
        </div>
        
        <div class="col-12">
          <button class='btn btn-primary rounded-pill mb-3'>Click me</button>
          <div class=' m-0 alert alert-success'>
            <h6 class="mb-2">Hello World! <span class='badge text-bg-primary rounded-pill text-capitalize'>nEW aGE</span></h6>
           <p class="m-0">This is info</p>
          </div>
        </div>
      </div>
    </div>
</div>




</main>