<main>
  1
  <h1 class='text-center'>центрирование Hello World!</h1>
  <hr />
  2
  <h1 class='text-center text-uppercase'>большие буквы Hello
    World!</h1>
  <hr />
  3
  <h2 class='text-end'>в конце строки Hello World!</h2>
  <hr />
  4
  <h2 class='text-end text-lowercase'>маленькие буквы Hello
    World!</h2>
  <hr />
  5
  <h3>Hello World!</h3>
  <hr />
  6
  <h3 class='text-capitalize'>text in capitalize</h3>

  <hr />
  7
  <div class='display-1 text-muted'>серый текст Hello World!</div>
  <hr />
  8
  <h2 class='display-3'>Hello World!</h2>
  <hr />

  9
  <h3 class='display-6'>Hello World!</h3>

  <hr />
  10
  <span class='text-muted'>Сірий текст, text-end не працює</span>
  <hr />
  11
  <div class='text-muted text-end'>
    Сірий текст
  </div>
  <hr />
  12
  <div class='text-muted text-end'>
    Сірий
    <span class='display-6'>текст в конце с помощью div</span>
  </div>
  <hr />
  13
  <button class='btn btn-primary'>
    <span class='text-uppercase'>Test button</span>
    <h1>Primary button</h1>
  </button>
  <hr />
  14
  <a href='#' class='btn btn-primary'>
    Primary button
  </a>
  <hr />
  15
  <p class='text-primary'>My text</p>
  <p class='text-dark'>My text</p>
  <p class='text-muted'>My text</p>
  <hr />
  16
  <button class='btn btn-primary btn-lg'>My button</button>
  <button class='btn btn-outline-success btn-sm'>My button</button>
  <button class='btn btn-outline-danger'>My button</button>
  <hr />
  17
  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>
  <br />
  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-primary btn-lg'>My button</button>
      <button class='btn btn-outline-success btn-sm'>My
        button</button>
      <button class='btn btn-outline-danger'>My button</button>
    </div>
  </div>
  <br />

  <div class='card'>
    <div class='card-body'>
      <p class='text-primary'>My text</p>
      <p class='text-dark'>My text</p>
      <p class='text-muted'>My text</p>
    </div>
  </div>
  <br />
  <div class='card'>
    <div class='card-body'>
      <div class='text-primary'>My text</div>
      <div class='text-dark'>My text</div>
      <div class='text-muted'>My text</div>
    </div>
  </div>

</main>