{{! https://getbootstrap.com/docs/4.0/components/forms/ }}
{{! https://github.com/it-brains-ua/bootstrap/blob/6/src/layout/default.hbs }}
{{! https://icons.getbootstrap.com/ }}
{{! https://fontawesome.com/ }}
<main class='p-5'>
  <div>
    <h1>Hello! h1
      <i class='bi bi-emoji-smile'></i>

      <i
        class='fa-brands fa-slack fa-spin fa-2xs'
        style='color: #53ea9c;'
      >
      </i>
    </h1>

    <h5>Hello! h5
      <i class='bi bi-emoji-smile'></i>
      <i
        class='fa-brands fa-slack fa-spin fa-2xs'
        style='color: #53ea9c;'
      >
      </i>
    </h5>

    <div>
      <i class='bi bi-boxes'></i>
    </div>
    <br />
    <button class='btn btn-primary'>
      <i class='bi bi-sd-card'></i>
      <i
        class='fa-brands fa-slack fa-spin fa-2xs'
        style='color: #53ea9c;'
      >
      </i>
    </button>

    <button class='btn btn-warning'>
      <i class='bi bi-sd-card'></i>
      <i
        class='fa-brands fa-slack fa-spin fa-2xs'
        style='color: #53ea9c;'
      >
      </i>
    </button>
    <br />
    <br />
    <div>
      <i
        class='fa-brands fa-slack fa-spin fa-2xs'
        style='color: #53ea9c;'
      >
      </i>
    </div>
    <br />
    <div>
      <svg
        width='10px'
        xmlns='http://www.w3.org/2000/svg'
        height='0.625em'
        viewBox='0 0 448 512'
      ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style
        >svg{fill:#53ea9c}</style><path
          d='M94.12 315.1c0 25.9-21.16 47.06-47.06 47.06S0 341 0 315.1c0-25.9 21.16-47.06 47.06-47.06h47.06v47.06zm23.72 0c0-25.9 21.16-47.06 47.06-47.06s47.06 21.16 47.06 47.06v117.84c0 25.9-21.16 47.06-47.06 47.06s-47.06-21.16-47.06-47.06V315.1zm47.06-188.98c-25.9 0-47.06-21.16-47.06-47.06S139 32 164.9 32s47.06 21.16 47.06 47.06v47.06H164.9zm0 23.72c25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06H47.06C21.16 243.96 0 222.8 0 196.9s21.16-47.06 47.06-47.06H164.9zm188.98 47.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06h-47.06V196.9zm-23.72 0c0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06V79.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06V196.9zM283.1 385.88c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06v-47.06h47.06zm0-23.72c-25.9 0-47.06-21.16-47.06-47.06 0-25.9 21.16-47.06 47.06-47.06h117.84c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06H283.1z'
        /></svg>
    </div>
    <br />
    <div>
      <img src='/icons/slack.svg' alt='slack' />
    </div>
    <br />
    <div>
      <img src='/icons/slack2.svg' alt='slack' />
    </div>

  </div>
</main>