<main class='p-5'>
  <h1>Hello World!</h1>
    {{> title data="My title"}}

    <h1 style="color:brown; background: yellow">
        This is text
    </h1>

    <div id="mytag">Test text</div>
    {{!-- In console JS in browser: mytag.style.background = "red" --}}
</main>