<div>
    {{#with main}}
    <main>
        <section>
            {{> title data='My education'}}
            <ul>
                {{#each education}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>