<div class='p-5'>
  <div class='card card-body text-bg-warning'>
    <div class='row'>
      <div class='col-7'>
        <h1 class='mb-0'><strong
          >{{header.name}}</strong></h1>
      </div>
      <div class='col-5'>
        <h1 class='mb-0'><strong
          >{{header.project}}</strong></h1>
      </div>
    </div>
  </div>
</div>