<div class="mx-5">
    <nav>
        {{> link text="summary" href="/summary" line=true }}
        {{> link text="skills" href="/skills" line=true }}
        {{> link text="education" href="/education" line=true }}
        {{> link text="work" href="/work" line=true noLine=true}}
    </nav>
</div>