<div>
  {{#if big}}
    <h2 class='mb-3'>{{data}}</h2>
  {{else}}
    <h3 class='mb-3'>{{data}}</h3>
  {{/if}}

  <style>
    h2 { color: rgb(24, 177, 177); } h3 { color: rgb(24,
    177, 177); }
  </style>
</div>